

.ujdonsagok {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    margin: auto;
    margin-top: 1cm;
    float: auto;
    padding: auto;
    text-align: center;
}

.ujdonsagok h2{
    border-radius: 6px;
    float: auto;
    padding: auto;
    color: transparent;
    background-image: linear-gradient(to left, white,#695555,#ff0055);
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    text-align: center;
}
@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0 100%;
    }
}
.ujdonsagok h3{
    color: rgba(119, 0, 255, 0.945);
    border-radius: 6px;
    float: auto;
    padding: auto;
}

.ujdonsagokleiras{
    color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    margin: auto;
    margin-top: 1cm;
    float: auto;
    padding: auto;
    text-align: center;
}


.ujdonsagokleiras h2{
    color: rgb(55, 92, 216);
    border-radius: 6px;
    float: auto;
    padding: auto;
}

.ujdonsagokleiras h3{
    border-radius: 6px;
    float: auto;
    padding: auto;
}