@font-face {
    font-family: Poppins-Light;
    src: url(../FONTS/Poppins/Poppins-Medium.ttf);
}

body {
    font-family: Poppins-Light;
}

.description-pc {
    cursor: pointer;
    display: block;
    float: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.056);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.description-pc:hover {
    background-color: rgba(83, 83, 83, 0.288);
    transform: scale(1.1);
    color:white;
}

.image-setup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    float: center;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    height: 420px;
    width: 410px;

    border-radius: 8px;
}
.case,
.cpu,
.ram,
.gpu,
.os,
.mbo,
.storage {
    transition: 
    background-color 0.4s, 
    transform 0.4s;
    border-radius: 25px;
}
.case:hover,
.cpu:hover,
.ram:hover,
.gpu:hover,
.os:hover,
.mbo:hover,
.storage:hover {
    background-color: rgba(0, 0, 0, 0.459);
    background-position: left;
    background-size: 1cm;
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}

.description-programs {
    cursor: pointer;
    display: block;
    float: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.056);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.description-programs:hover {
    background-color: rgba(83, 83, 83, 0.288);
    transform: scale(1.1);
    color:white;
}

.program {
    transition: background-color 0.4s, transform 0.4s;
    border-radius: 25px;
}

.program:hover {
    background-color: rgba(0, 0, 0, 0.459);
    background-position: left;
    background-size: 1cm;
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}

.description-more {
    cursor: pointer;
    display: block;
    float: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.056);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.description-more:hover {
    background-color: rgba(83, 83, 83, 0.288);
    transform: scale(1.1);
    color:white;
}

.device {
    transition: background-color 0.4s, transform 0.4s;
    border-radius: 25px;
}

.device:hover {
    background-color: rgba(0, 0, 0, 0.459);
    background-position: left;
    background-size: 1cm;
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}

/* MÉDIA (telefon, tablet)*/

@media screen and (max-width: 500px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .image-setup img{
            display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
        align-items: center;
        float: center;
        text-align: center;
        height: 290px;
        width: 260px;
        border-radius: 8px;
        transition: all 0.4s;
    }
}
@media screen and (max-width: 600px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .image-setup img{

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        float: center;
        text-align: center;
        height: 290px;
        width: 260px;
        border-radius: 8px;
        transition: all 0.4s;
    }
}
@media screen and (max-width: 1000px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .image-setup img{
            display: block;
       margin-left: auto;
         margin-right: auto;
        margin-top: auto;
         margin-bottom: auto;
        align-items: center;
        float: center;
        text-align: center;
        height: 290px;
        width: 260px;
        border-radius: 8px;
        transition: all 0.4s;
    }
}



@media screen and (max-width: 100px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .image-setup img{
            display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
        margin: center;
        align-items: center;
        float: center;
        text-align: center;
        height: 240px;
        width: 230px;
        border-radius: 8px;
        transition: all 0.4s;
    }
}
@media screen and (max-width: 300px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .image-setup img{
            display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
        margin: center;
        align-items: center;
        float: center;
        text-align: center;
        height: 240px;
        width: 230px;
        border-radius: 8px;
        transition: all 0.4s;
    }
}
